.navbar-custom {
    color: white;
/* UI Properties */
background: #D23937 0% 0% no-repeat padding-box;
opacity: 1;
}
.navbar-dark{
    background-color: #D23937
}
.select-custom {
    border:0;
    background-color: transparent;
    outline: none;
}
.select-custom:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
select option {
    background: #D23937;
    color: #fff;

  }
  option:checked{
    color: #D23937;
    background-color: #fff;
  }
option:hover{
    background-color: aqua;
}
