.navbar-custom {
    color: white;
/* UI Properties */
background: #D23937 0% 0% no-repeat padding-box;
opacity: 1;
}
.navbar-dark{
    background-color: #D23937
}
.navbar-nav > li{
    
    margin-left:1rem;
    margin-right:1rempx;

}
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}

