.navbar-custom {
    color: white;
/* UI Properties */
background: #D23937 0% 0% no-repeat padding-box;
opacity: 1;
}

.navbar-dark{
    background-color: #D23937
}
.select-custom {
    border:0;
    background-color: transparent;
    outline: none;
}


select option {
    background: #D23937;
    color: #fff;

  }

  /* option:checked{
    color: #D23937;
    background-color: #fff;
  } */
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }
